<div class="pt-6 mb-6 shadow-lg  shadow-slate-500/50 items-center text-center bg-center bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-gray-700 bg-blend-multiply  text-white">
<h1 class="text-3xl">Technical Support Portal</h1>
<img class="mx-auto h-10 my-6" src="/images/cryptoforge-white.svg" >
<h5 class="pb-6 text-lg">Welcome {{user}} </h5>
<h5 class="pb-6 text-lg">Submit and stay informed about your IT support requests</h5>
<span class="w-full inline-flex justify-center">
     {{#if user}}
     <a class="px-3" id="logout" ><h5>Logout</h5></a>
   
     {{else}}
    <a class="px-3" href="/login" ><h5>Login</h5></a> | <a class="px-3" href="/signup">Create new account</a></span>
    {{/if}}
      <script src="/js/logout.js"></script>
</div>
