<div class="pt-6 mb-6 shadow-md shadow-indigo-500/50 items-center text-center bg-center bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-gray-700 bg-blend-multiply text-white">
<h1 class="text-3xl">Technical Support Portal</h1>
<img class="mx-auto h-10 my-6" src="/images/cryptoforge-white.svg" >
<h5 class="pb-6 text-lg">Submit and stay informed about your IT support requests</h5>
</div>
