<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoForge Tickets</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/tailwind/output.css">
</head>



<body>
    {{> header}}
    {{{ body }}}
    {{> footer}}
</body>





<script src="/js/logout.js"></script>
<script src="/flowbite.min.js"></script>
</html>