@tailwind base; /* Preflight will be injected here (this is basically the reset style sheet from Tailwind) */
@tailwind components;
@tailwind utilities;

.drawerSize{
    width: 60%;
    max-width: 800px;
    min-width: 300px;
}

.hide{
    background-image: url("/images/invisible-eye-90.png");
    width: 15px;
    height: 12px;
    background-size: cover;
}

.show{
    background-image: url("/images/eye-90.png");
    width: 15px;
    height: 12px;
    background-size: cover;
}

