<div class="flex justify-between items-center py-4 px-8 bg-gray-800 text-white">
  <!-- Back Button -->
  <a href="/" class="text-blue-300 hover:text-blue-500">
    <span class="inline-block align-middle">&larr;</span> Back
  </a>

  <!-- Logout Button -->
  <button id="logoutBtn" class="text-blue-300 hover:text-blue-500 cursor-pointer">Logout</button>
</div>

<!--Tailwind  -->
